@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc
@inject SignInManager<Models.data.ApplicationUser> SignInManager
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<LoanDroidApp.CommonResources> SharedLocalizer
@{
    ViewData["Title"] = "Blog | LoanDroidApp";
}
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="index.html">@SharedLocalizer["Home"]</a></li>
                        <li class="active">@SharedLocalizer["Blog"]</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-white pinside30">
                    <div class="row align-items-center">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                            <h1 class="page-title">@SharedLocalizer["MyAccount"]</h1>
                        </div>
                    </div>
                </div>
                <div class="sub-nav" id="sub-nav">
                    <ul class="nav nav-justified">
                        <li class="nav-item">
                            <a href="#!" class="nav-link">@SharedLocalizer["Contactus"]</a>
                        </li>
                        <li class="nav-item">
                            <a href="#!" class="nav-link">@SharedLocalizer["LoanCalculator"]</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="wrapper-content bg-white p-3 p-lg-5">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="@Url.Action("blogdetail", "home")?id=1" class="imghover"><img src="~/images/home/blog-img.jpg" alt="- Loan Company Website Template" class="img-fluid"></a>
                                </div>
                                <div class="bg-white pinside40 outline">
                                    <h2><a href="@Url.Action("blogdetail", "home")?id=1" class="title">Couples Happy with Home Loan</a></h2>
                                    <p class="meta"><span class="meta-date">Aug 25, 2020</span><span class="meta-author">By<a href="#!"> Admin</a></span></p>
                                    <p>Fusce sed erat libasellus id orci quis ligula pret do lectus velit, a malesuada urna sodales.</p>
                                    <a href="@Url.Action("blogdetail", "home")?id=1" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="@Url.Action("blogdetail", "home")?id=2" class="imghover"><img src="~/images/home/blog-img-1.jpg" alt="- Loan Company Website Template" class="img-fluid"></a>
                                </div>
                                <div class="bg-white pinside40 outline">
                                    <h2><a href="@Url.Action("blogdetail", "home")?id=2" class="title">Family Thinking for Loan</a></h2>
                                    <p class="meta"><span class="meta-date">Aug 24, 2020</span><span class="meta-author">By<a href="#!"> Admin</a></span></p>
                                    <p>Nulla vehicula nibh vel malesuada dapibus ringilla nunc mi sit amet fbendum sapierttitor. </p>
                                    <a href="@Url.Action("blogdetail", "home")?id=2" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="@Url.Action("blogdetail", "home")?id=3" class="imghover"><img src="~/images/home/blog-img-2.jpg" alt="- Loan Company Website Templates" class="img-fluid"></a>
                                </div>
                                <div class="bg-white pinside40 outline">
                                    <h2><a href="@Url.Action("blogdetail", "home")?id=3" class="title">Are you students looking for loan?</a></h2>
                                    <p class="meta"><span class="meta-date">Aug 23, 2020</span><span class="meta-author">By<a href="#!"> Admin</a></span></p>
                                    <p>Malesuada urna sodales euusce sed erat libasellus id orci quis ligula pretium co ctus velit.</p>
                                    <a href="@Url.Action("blogdetail", "home")?id=3" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="@Url.Action("blogdetail", "home")?id=4" class="imghover"><img src="~/images/home/blog-img-3.jpg" alt="- Loan Company Website Template" class="img-fluid"></a>
                                </div>
                                <div class="bg-white pinside40 outline">
                                    <h2><a href="@Url.Action("blogdetail", "home")?id=4" class="title">Bigger home still the goal</a></h2>
                                    <p class="meta"><span class="meta-date">Aug 20, 2020</span><span class="meta-author">By<a href="#!"> Admin</a></span></p>
                                    <p>Lorem ipsum dolor sit amet consectetur its lorem adipiscing elitras molestie nunceu its.</p>
                                    <a href="@Url.Action("blogdetail", "home")?id=4" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="@Url.Action("blogdetail", "home")?id=5" class="imghover"><img src="~/images/home/blog-img-4.jpg" alt="- Loan Company Website Template" class="img-fluid"></a>
                                </div>
                                <div class="bg-white pinside40 outline">
                                    <h2><a href="@Url.Action("blogdetail", "home")?id=5" class="title">5 Essential Financial Habits</a></h2>
                                    <p class="meta"><span class="meta-date">Aug 15, 2020</span><span class="meta-author">By<a href="#!"> Admin</a></span></p>
                                    <p>Pellentesque augue lacus hendr erit sit amet ultricies ahendrerit qui tortousce.</p>
                                    <a href="@Url.Action("blogdetail", "home")?id=5" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="@Url.Action("blogdetail", "home")?id=6" class="imghover"><img src="~/images/home/blog-img-5.jpg" alt="- Loan Company Website Template" class="img-fluid"></a>
                                </div>
                                <div class="bg-white pinside40 outline">
                                    <h2><a href="@Url.Action("blogdetail", "home")?id=6" class="title">How to Get a Scholarship</a></h2>
                                    <p class="meta"><span class="meta-date">Aug 12, 2020</span><span class="meta-author">By<a href="#!"> Admin</a></span></p>
                                    <p>Integer tincidunt quam a nulla aliquet loreml acerad ctum tellus augueac one ntum ut tincidunt.</p>
                                    <a href="@Url.Action("blogdetail", "home")?id=6" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center ">
                            <div class="st-pagination">
                                <!--st-pagination-->
                                <ul class="pagination">
                                    <li> <a href="#!" aria-label="previous"><span aria-hidden="true">previous</span></a></li>
                                    <li class="active"><a href="#!">1</a></li>
                                    <li><a href="#!">2</a></li>
                                    <li><a href="#!">3</a></li>
                                    <li> <a href="#!" aria-label="Next"><span aria-hidden="true">next</span></a></li>
                                </ul>
                            </div>
                            <!--/.st-pagination-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>