@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<LoanDroidApp.CommonResources> SharedLocalizer
@{
    ViewData["Title"] = "Home | LoanDroidApp";
}
<div class="slider" id="slider">
    <!-- slider -->
    <div class="slider-img">
        <img src="~/images/home/index-three-slider-1.jpg" alt="" class="">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="slider-captions">
                        <!-- slider-captions -->
                        <h1 class="slider-title primary">@SharedLocalizer["slider01_title"]</h1>
                        <p class="slider-text primary d-none d-xl-block d-lg-block d-sm-block">
                            Loans and investments between people at fair rates
                            <br>
                            <strong class="text-highlight primary">(555) 123-4567</strong>
                        </p>
                        <a href="team.html" class="btn btn-primary mr-10" style="margin-right:10px;">@SharedLocalizer["Iwantaloan"]</a>
                        <a href="team.html" class="btn btn-secondary">@SharedLocalizer["Iwanttolend"]</a>
                    </div>
                    <!-- /.slider-captions -->
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="slider-img">
            <img src="~/images/home/index-three-slider-2.jpg" alt="Loan and Investments " class="">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="slider-captions">
                            <!-- slider-captions -->
                            <h1 class="slider-title primary"> Lowest Car Loan Rate <strong class="text-highlight">9.60%</strong> </h1>
                            <p class="slider-text primary d-none d-xl-block d-lg-block d-sm-block"> We provide an excellent service Loan company. Lorem ipsum simple dummy content goes here.</p>
                            <a href="#!" class="btn btn-primary">Check Eligiblity</a>
                        </div>
                        <!-- /.slider-captions -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="slider-img">
            <img src="~/images/home/index-three-slider-3.jpg" alt="Loan and Investments " class="">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="slider-captions">
                            <!-- slider-captions -->
                            <h1 class="slider-title">Student Loans with Greate Rates <strong class="text-highlight">11.10%</strong></h1>
                            <p class="slider-text d-none d-xl-block d-lg-block d-sm-block">
                                We provide an excellent service for all types of loans in
                                <br> ahmedabad and offer service, advice and direction.
                            </p>
                            <a href="#!" class="btn btn-secondary ">View Products</a>
                        </div>
                        <!-- /.slider-captions -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="rate-table">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="rate-counter-block">
                    <div class="icon rate-icon  "> <img src="~/images/home/users.png" alt="Loan and Investments " class="icon-svg-1x"></div>
                    <div class="rate-box">
                        <h1 class="loan-rate">@(ViewBag.client_count + ViewBag.investor_count)</h1>
                        <small class="rate-title">@SharedLocalizer["Users"]</small>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="rate-counter-block">
                    <div class="icon rate-icon  "> <img src="~/images/home/svg/loan.svg" alt="Loan and Investments " class="icon-svg-1x"></div>
                    <div class="rate-box">
                        <h1 class="loan-rate">8.96%</h1>
                        <small class="rate-title">@SharedLocalizer["LoanRates"]</small>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="rate-counter-block">
                    <div class="icon rate-icon  "> <img src="~/images/home/svg/credit-card.svg" alt="Loan and Investments " class="icon-svg-1x"></div>
                    <div class="rate-box">
                        <h1 class="loan-rate">6.70%</h1>
                        <small class="rate-title">@SharedLocalizer["SavingRates"]</small>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="rate-counter-block">
                    <div class="icon rate-icon  "> <img src="~/images/home/svg/piggy-bank.svg" alt="Loan and Investments " class="icon-svg-1x"></div>
                    <div class="rate-box">
                        <h1 class="loan-rate">0</h1>
                        <small class="rate-title">@SharedLocalizer["Projects"]</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-space80" id="howitworks">
    <div class="container">
        <div class="row">
            <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
                <div class="section-title mb60 text-center">
                    <!-- section title start-->
                    <h1>@SharedLocalizer["howitworks"]</h1>
                    <p>About Business Loan and How does it work</p>
                </div>
                <!-- /.section title start-->
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <p class="lead">Conectamos directamente a personas que necesitan un préstamo con personas que quieren invertir su dinero. </p>
                <p>De esta manera logramos que el que pide prestado pague menos intereses y que el que invierte su dinero gane buenos rendimientos.</p>
                <p>
                    Tasa de interés anual y fija de 8.9% a 38.9% sin IVA, ésta dependerá del proceso de evaluación y calificación de nuestra área de crédito.
                </p>
                <a class="btn btn-primary mb-3 mb-lg-0" href="@Url.Action("login", "home")?page=register" id="navbarBlog" role="button" aria-haspopup="true" aria-expanded="false">
                    @SharedLocalizer["Signup"]
                </a>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="section-about-video">
                    <div class="about-img" style="background: url(../images/home/business-loan-about.jpg); background-size: cover; background-repeat: no-repeat; min-height: 335px; display: flex; justify-content: center;">
                        <div class="d-flex align-items-center">
                            <a class="popup-youtube
                                       text-decoration-none"
                               href="https://www.youtube.com/watch?v=JRzWRZahOVU">
                                <img src="../images/home/play-icon.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-space80 bg-white">
    <div class="container">
        <div class="row">
            <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
                <div class="mb60 text-center section-title">
                    <!-- section title start-->
                    <h1>@SharedLocalizer["FindLoanServicesWeOffers"]</h1>
                    <p>@SharedLocalizer["FindLoanServicesWeOffersText"]</p>
                </div>
                <!-- /.section title start-->
            </div>
        </div>
        <div class="row">
            <div class="service" id="service">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="bg-white pinside40 service-block outline mb30">
                        <div class="icon mb40"> <img src="~/images/home/users.png" alt="Loan and Investments " class="icon-svg-2x"> </div>
                        <h2><a href="#!" class="title">@SharedLocalizer["Users"]</a></h2>
                        <p>
                            @SharedLocalizer["TrustedClients"]: @ViewBag.client_count<br>
                            @SharedLocalizer["TrustedInvestors"]: @ViewBag.investor_count<br>
                            @SharedLocalizer["UsersText"]
                        </p>
                        <a href="#!" class="btn-link">@SharedLocalizer["ReadMore"]</a>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="bg-white pinside40 service-block outline mb30">
                        <div class="icon mb40"> <img src="~/images/home/svg/loan.svg" alt="Loan and Investments " class="icon-svg-2x"></div>
                        <h2><a href="#!" class="title">@SharedLocalizer["LoanRates"]</a></h2>
                        <p>@SharedLocalizer["LoanRatesText"]</p>
                        <a href="#!" class="btn-link">@SharedLocalizer["ReadMore"]</a>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="bg-white pinside40 service-block outline mb30">
                        <div class="icon mb40"> <img src="~/images/home/svg/credit-card.svg" alt="Loan and Investments " class="icon-svg-2x"></div>
                        <h2><a href="#!" class="title">@SharedLocalizer["SavingRates"]</a></h2>
                        <p>@SharedLocalizer["SavingRatesText"]</p>
                        <a href="#!" class="btn-link">@SharedLocalizer["ReadMore"]</a>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="bg-white pinside40 service-block outline mb30">
                        <div class="icon mb40"> <img src="~/images/home/svg/piggy-bank.svg" alt="Loan and Investments " class="icon-svg-2x"></div>
                        <h2><a href="#!" class="title">@SharedLocalizer["Projects"]</a></h2>
                        <p>@SharedLocalizer["ProjectsText"]</p>
                        <a href="#!" class="btn-link">@SharedLocalizer["ReadMore"]</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-space80">
    <div class="container">
        <div class="row">
            <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
                <div class="mb100 text-center section-title">
                    <!-- section title start-->
                    <h1>@SharedLocalizer["FastEasyApplicationProcess"]</h1>
                    <p>@SharedLocalizer["FastEasyApplicationProcessText"]</p>
                </div>
                <!-- /.section title start-->
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="bg-white pinside40 number-block outline mb60 bg-boxshadow">
                    <div class="circle"><span class="number">1</span></div>
                    <h3 class="number-title mb-1">@SharedLocalizer["FastEasyApplicationProcess1"]</h3>
                    <p>@SharedLocalizer["FastEasyApplicationProcess1Text"]</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="bg-white pinside40 number-block outline mb60 bg-boxshadow">
                    <div class="circle"><span class="number">2</span></div>
                    <h3 class="number-title mb-1">@SharedLocalizer["FastEasyApplicationProcess2"]</h3>
                    <p>@SharedLocalizer["FastEasyApplicationProcess2Text"]</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="bg-white pinside40 number-block outline mb60 bg-boxshadow">
                    <div class="circle"><span class="number">3</span></div>
                    <h3 class="number-title mb-1">@SharedLocalizer["FastEasyApplicationProcess3"]</h3>
                    <p>@SharedLocalizer["FastEasyApplicationProcess3Text"]</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12 text-center"> <a href="#!" class="btn btn-secondary">@SharedLocalizer["ViewMore"]</a> </div>
        </div>
    </div>
</div>
<div class="section-space80 bg-white">
    <div class="container">
        <div class="row">
            <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
                <div class="mb60 text-center section-title">
                    <!-- section title start-->
                    <h1>@SharedLocalizer["WhyPeopleChooseUs"]</h1>
                    <p>Suspendisse aliquet varius nunc atcibus lacus sit amet coed portaeri sque mami luctus viveed congue lobortis faucibus.</p>
                </div>
                <!-- /.section title start-->
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-white bg-boxshadow">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 nopadding">
                            <div class="bg-white pinside60 number-block outline">
                                <div class="mb20"><i class="icon-command  icon-4x icon-primary"></i></div>
                                <h3>Dedicated Specialists</h3>
                                <p>Duis eget diam quis elit erdiet alidvolutp terdum tfanissim non intwesollis eu mauris.</p>
                                <a href="#!" class="btn btn-outline mt20">Meet the team</a>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 nopadding">
                            <div class="bg-white pinside60 number-block outline">
                                <div class="mb20"><i class="icon-cup  icon-4x icon-primary"></i></div>
                                <h3>Success Stories Rating</h3>
                                <p>Integer facilisis fringilla dolor ut luctus lvinar felis miat velitliquam at fermentum orci.</p>
                                <a href="#!" class="btn btn-outline mt20">View Client Review</a>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 nopadding">
                            <div class="bg-white pinside60 number-block outline">
                                <div class="mb20"><i class="icon-calculator  icon-4x icon-primary"></i></div>
                                <h3>No front Appraisal Fees!</h3>
                                <p> Integer faisis fringilla dolor ut luctus nisi eneinar felis viverra dignissim fermentum orci.</p>
                                <a href="#!" class="btn btn-outline mt20">Why choose us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-default section-space80">
    <div class="container">
        <div class="row">
            <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
                <div class="mb60 text-center section-title">
                    <!-- section title start-->
                    <h1 class="title-white">@SharedLocalizer["SomeofourAwesomeTestimonials"]</h1>
                    <p class="text-white"> You won’t be the only one lorem ipsu mauris diam mattises.</p>
                </div>
                <!-- /.section title start-->
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-4 col-12 clearfix ">
                <div class="testimonial-block mb30">
                    <div class="bg-white pinside30 mb20">
                        <p class="testimonial-text"> “I loved the customer service you guys provided me. That was very nice and patient with questions I had. I would really like definitely come back here”</p>
                    </div>
                    <div class="testimonial-autor-box">
                        <div class="testimonial-img pull-left"> <img src="~/images/home/testimonial-img.jpg" alt="Loan and Investments "> </div>
                        <div class="testimonial-autor pull-left">
                            <h4 class="testimonial-name">Donny J. Griffin</h4>
                            <span class="testimonial-meta text-white">Personal Loan</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-4 col-12 clearfix ">
                <div class="testimonial-block mb30">
                    <div class="bg-white pinside30 mb20">
                        <p class="testimonial-text"> “I had a good experience with Insight Loan Services. I am thankful to insight for the help you guys gave me. My loan was easy and fast. thank you Insigtht”</p>
                    </div>
                    <div class="testimonial-autor-box">
                        <div class="testimonial-img pull-left"> <img src="~/images/home/testimonial-img-1.jpg" alt="Loan and Investments "> </div>
                        <div class="testimonial-autor pull-left">
                            <h4 class="testimonial-name">Mary O. Randle</h4>
                            <span class="testimonial-meta text-white">Education Loan</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-4 col-12 clearfix ">
                <div class="testimonial-block mb30">
                    <div class="bg-white pinside30 mb20">
                        <p class="testimonial-text"> “We came out of their offices very happy with their service. They treated us very kind. Definite will come back. The waiting time was very appropriate.”</p>
                    </div>
                    <div class="testimonial-autor-box">
                        <div class="testimonial-img pull-left"> <img src="~/images/home/testimonial-img-2.jpg" alt="Loan and Investments "> </div>
                        <div class="testimonial-autor pull-left">
                            <h4 class="testimonial-name">Lindo E. Olson</h4>
                            <span class="testimonial-meta text-white">Car Loan</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-space40 bg-white">
    <div class="container">
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/images/home/logo-1.jpg" alt="Loan and Investments "> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/images/home/logo-2.jpg" alt="Loan and Investments "> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/images/home/logo-3.jpg" alt="Loan and Investments "> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/images/home/logo-4.jpg" alt="Loan and Investments "> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/images/home/logo-5.jpg" alt="Loan and Investments "> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/images/home/logo-1.jpg" alt="Loan and Investments "> </div>
        </div>
    </div>
</div>
<div class="section-space80">
    <div class="container">
        <div class="row">
            <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
                <div class="mb60 text-center section-title">
                    <!-- section title start-->
                    <h1>@SharedLocalizer["LatestNewsfromLoanCompany"]</h1>
                    <p> Our mission is to deliver reliable, latest news and opinions.</p>
                </div>
                <!-- /.section title start-->
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="post-block mb30">
                    <div class="post-img">
                        <a href="@Url.Action("blogdetail", "home")?id=1" class="imghover"><img src="~/images/home/blog-img.jpg" alt="Loan and Investments " class="img-fluid"></a>
                    </div>
                    <div class="bg-white pinside40 outline">
                        <h2><a href="@Url.Action("blogdetail", "home")?id=1" class="title">Couples Buying New Home Loan</a></h2>
                        <p class="meta"><span class="meta-date">Aug 25, 2017</span><span class="meta-author">By<a href="#!"> Admin</a></span></p>
                        <p>Fusce sed erat libasellus id orci quis ligula pret do lectus velit, a malesuada urna sodales eu.</p>
                        <a href="@Url.Action("blogdetail", "home")?id=1" class="btn-link">@SharedLocalizer["ReadMore"]</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="post-block mb30">
                    <div class="post-img">
                        <a href="@Url.Action("blogdetail", "home")?id=2" class="imghover"><img src="~/images/home/blog-img-1.jpg" alt="Loan and Investments " class="img-fluid"></a>
                    </div>
                    <div class="bg-white pinside40 outline">
                        <h2><a href="@Url.Action("blogdetail", "home")?id=2" class="title">Business Man Thinking for Loan</a></h2>
                        <p class="meta"><span class="meta-date">Aug 24, 2017</span><span class="meta-author">By<a href="#!"> Admin</a></span></p>
                        <p>Nulla vehicula nibh vel malesuada dapibus ringilla nunc mi sit amet fbendum sapierttitor nibh. </p>
                        <a href="@Url.Action("blogdetail", "home")?id=2" class="btn-link">@SharedLocalizer["ReadMore"]</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="post-block mb30">
                    <div class="post-img">
                        <a href="@Url.Action("blogdetail", "home")?id=3" class="imghover"><img src="~/images/home/blog-img-2.jpg" alt="Loan and Investments s" class="img-fluid"></a>
                    </div>
                    <div class="bg-white pinside40 outline">
                        <h2><a href="@Url.Action("blogdetail", "home")?id=3" class="title">Are you students looking for loan ?</a></h2>
                        <p class="meta"><span class="meta-date">Aug 23, 2017</span><span class="meta-author">By<a href="#!"> Admin</a></span></p>
                        <p>Malesuada urna sodales euusce sed erat libasellus id orci quis ligula pretium co ctus velit.</p>
                        <a href="@Url.Action("blogdetail", "home")?id=3" class="btn-link">@SharedLocalizer["ReadMore"]</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-space80 bg-white">
    <div class="container">
        <div class="row">
            <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
                <div class="mb60 text-center section-title">
                    <!-- section title-->
                    <h1>@SharedLocalizer["WeareHeretoHelpYou"]</h1>
                    <p>Our mission is to deliver reliable, latest news and opinions.</p>
                </div>
                <!-- /.section title-->
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="bg-white bg-boxshadow pinside40 outline text-center mb30">
                    <div class="mb40"><i class="icon-calendar-3 icon-2x icon-default"></i></div>
                    <h2 class="capital-title">Apply For Loan</h2>
                    <p>Looking to buy a car or home loan? then apply for loan now.</p>
                    <a href="#!" class="btn-link">Get Appointment</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="bg-white bg-boxshadow pinside40 outline text-center mb30">
                    <div class="mb40"><i class="icon-phone-call icon-2x icon-default"></i></div>
                    <h2 class="capital-title">Call us at </h2>
                    <h1 class="text-big">800-123-456 / 789 </h1>
                    <p>lnfo@loanadvisor.com</p>
                    <a href="#!" class="btn-link">Contact us</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="bg-white bg-boxshadow pinside40 outline text-center mb30">
                    <div class="mb40"> <i class="icon-users icon-2x icon-default"></i></div>
                    <h2 class="capital-title">Talk to Advisor</h2>
                    <p>Need to loan advise? Talk to our Loan advisors.</p>
                    <a href="#!" class="btn-link">Meet The Advisor</a>
                </div>
            </div>
        </div>
    </div>
</div>